#create css file for the catalog.py file and put it in a STATIC #Folder so flask can automatically look for ikt

.navbar {

    -webkit-box-shadow: 0 0 150px 0 #999;

    -moz-box-shadow: 0 0 150px 0 #999;

    box-shadow: 0 0 150px 0 #999;

}



body {

    background: blue;

}



.text-and-icon {

    margin-right: 9px;

}



.sections {

    margin-top: 6%;

}



.login-box {

    margin-top: 200px;

    height: 250px;

    box-shadow: None;

    transition: box-shadow 400ms;

}



/*

.login-box:hover {

    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.37);

    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.37);

}*/



.container .google-box {

    display: inline-block;

    text-align: center;

}
